<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <style>
        .user-detail {
         height: 100vh;
         border: 2px solid #f1f1f1; 
         padding: 16px; 
         background-color: white; 
         width: 30%;
        } 
        input{ 
         width: 100%; 
         padding: 15px 5px;
         margin: 5px 0 22px 0; 
         display: inline-block; 
         border: none; 
        } 
        input[type=text]:focus, input[type=password]:focus { 
         background-color: #ddd;
         outline: none;
        } 
        button[type=submit] { 
         background-color: #434140; 
         color: #ffffff; 
         padding: 10px 20px; 
         margin: 8px 0; 
         border: none; 
         cursor: pointer; 
         width: 100%; 
         opacity: 0.9; 
         font-size: 20px;
        } 
        label{ 
         font-size: 18px;
        } 
        button[type=submit]:hover { 
         background-color:#3d3c3c;
        } 
    </style>

<!--==== EDIT form section start====-->
<div class="user-detail">
   
    <form action="<%=(typeof editData!='undefined')?'/users/edit/'+editData.id:'/users/create'%>" method="POST">
          <label>Full Name</label>
          <input type="text" placeholder="Enter Full Name" name="fullName" required value="<%=(typeof editData!='undefined')? editData.fullName:''%>">
          <label>Email Address</label>
          <input type="email" placeholder="Enter Email Address" name="emailAddress" required value="<%=(typeof editData!='undefined')? editData.emailAddress:''%>">
          <label>City</label>
          <input type="city" placeholder="Enter Full City" name="city" required value="<%=(typeof editData!='undefined')? editData.city:''%>">
          <label>Country</label>
          <input type="text" placeholder="Enter Full Country" name="country" required value="<%=(typeof editData!='undefined')? editData.country:''%>">
          <button type="submit">Submit</button>
        </div>
</div>
<!--==== EDIT form section end ====-->
</body>
</html>