<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/nodeapp/views/style.css">
</head>

<body>

<style>

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color:#121212;
    color: #f5f5f5;
}

.btn-section {
    display: flex;
    justify-content: flex-end;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    border: none;

    background-color:#03DAC6;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.btn-back {
    padding: 10px;
    cursor: pointer;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #1D1D1D;
    border-bottom: 4px solid #03DAC6;
    margin-bottom: 10px;
    padding: 50px;
    font-size: 0.9rem;
}

label {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 900;
}

input {
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background: #2B2A2A;
    color: #f5f5f5;
    font-size: 0.9rem;
}

.submit-btn {
    padding: 10px 0;
    margin-top: 20px;
}

</style>


<!-- ==== form section start====-->
<div class="container">
    <div class="user-detail">
        <h2>Create User Data</h2>
        <form action="/users/create" method="POST">
              <label>Full Name</label>
              <input type="text" placeholder="Enter Full Name" name="fullName" required>
              <label>Email Address</label>
              <input type="email" placeholder="Enter Email Address" name="emailAddress" required>
              <label>City</label>
              <input type="city" placeholder="Enter Full City" name="city" required>
              <label>Country</label>
              <input type="text" placeholder="Enter Full Country" name="country" required>
              <button class="submit-btn" type="submit">Submit</button>
        </form>
    
         <div class="btn-section">
            <a style="text-decoration: none; color: darkblue;" href="user-list">
                <button class="btn-back"> back to user list </button>
            </a>
         </div>
    </div>
</div>
<!--==== form section end ==== -->

<!--====form section start====-->
<!-- <div class="user-detail">
    <h2>Edit User Data</h2>
    <form action="<%=(typeof editData!='undefined')?'/users/edit/'+editData.id:'/users/create'%>" method="POST">
          <label>Full Name</label>
          <input type="text" placeholder="Enter Full Name" name="fullName" required value="<%=(typeof editData!='undefined')? editData.fullName:''%>">
          <label>Email Address</label>
          <input type="email" placeholder="Enter Email Address" name="emailAddress" required value="<%=(typeof editData!='undefined')? editData.emailAddress:''%>">
          <label>City</label>
          <input type="city" placeholder="Enter Full City" name="city" required value="<%=(typeof editData!='undefined')? editData.city:''%>">
          <label>Country</label>
          <input type="text" placeholder="Enter Full Country" name="country" required value="<%=(typeof editData!='undefined')? editData.country:''%>">
          <button type="submit">Submit</button>
    </div>
</div> -->
<!--====form section start====-->
</body>
</html>